
@font-face {
    font-family: SourceCode;
    src: url(../font/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../font/Vollkorn-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Vollkorn, sans-serif;
    font-size: 10px;
  }
  

  /** ---- BASIC ---- */

h1 {
    width: 400px;

    font-family: Vollkorn;
    font-size: 9rem;
    text-align: center;

}

h2 {
    font-family: SourceCode;
    font-size: 3rem;
}


h3 {
    font-family: Vollkorn;
    font-size: 3.5rem;
}

h4 {
    font-family: Vollkorn;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
}

h5 {
    font-family: SourceCode;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

p {
    font-family: Vollkorn;
    font-size: 1.5rem;
}

/** ------header------ */

header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "c1 e1 e2 e3 e4"
      "e5 branch e6 logs e7"
      "e8 logo logo logo e9"
      "c2 logo logo logo c3"
      "e10 logo logo logo e11"
      "e12 e13 e14 merche e15"
      "e16 status e17 e18 c4"; 

      height: 100vh;
      width: 1000px;
      margin-bottom: 50px;
  }
 
  header div {
    border: 0.5px solid black;
  }

  .c1 {
    position: relative;
  }

  .c1 div:nth-of-type(1) {
    position: absolute;
    bottom: -10px;
    right: 30px;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
  }

  .c1 div:nth-of-type(2) {
    position: absolute;
    bottom: -20px;
    right: 50px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(253, 170, 46);
    
  }

  .c1 { 
    grid-area: c1; 
}

  .c2 { 
    grid-area: c2; 
}

.c2, .c3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .circle {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }

  .branch h2,
  .logs h2,
  .status h2,
  .merche h2{
    font-weight: 400;
  }


  .branch {
     grid-area: branch;
     display: flex;
     justify-content: center;
}

.branch h2 {
    margin-top: 20px;
    
}

  .logs { 
    grid-area: logs;
    display: flex;
    justify-content: center;
}


.logs h2 {
    margin-top: 35px;
}


.status { 
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .merche { 
    grid-area: merche;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



  .c3 { 
    grid-area: c3;
}






  .logo { 
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid black;
  

    height: 100%;
    width: 100%;
}

.logo h1 {
    
}



.rings {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 3px solid peachpuff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.rings-in {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}


/* ring 1 */
.rings:nth-of-type(1) {
    top: -40px;
    left: -40px;

    border-color: rgb(5, 7, 158);
    background-color: rgb(21, 25, 250);

}

.rings:nth-of-type(1) .rings-in {
    background-color: rgb(187, 209, 248);
}


/* ring 2 */
.rings:nth-of-type(2) {
    top: -40px;
    right: -40px;

    border-color: rgb(131, 2, 2);
    background-color: rgb(203, 2, 2);

}

.rings:nth-of-type(2) .rings-in {
    background-color: rgb(245, 183, 183);
}


/* ring 3 */
.rings:nth-of-type(3) {
    bottom: -40px;
    right: -40px;

    border-color: rgb(51, 0, 106);
    background-color: rgb(132, 26, 245);

}

.rings:nth-of-type(3) .rings-in {
    background-color: rgb(221, 193, 251);
}


/* ring 4 */
.rings:nth-of-type(4) {
    bottom: -40px;
    left: -40px;

    border-color: rgb(133, 91, 0);
    background-color: rgb(245, 168, 1);

}

.rings:nth-of-type(4) .rings-in {
    background-color:rgb(251, 233, 192);
}


.c4 { 
    grid-area: c4;
    position: relative;
}

.c4 div {
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
}

.ring-o {
    height: 55px;
    width: 55px;
}

.ring-i {
    height: 35px;
    width: 35px;
}

.c4 div:nth-of-type(1) {
    top: 10px;
    left: 20px;
    background-color: rgb(2, 2, 180);
}

.c4 div:nth-of-type(1) {
    top: 10px;
    left: 20px;
    background-color: rgb(2, 2, 180);
}

.c4 div:nth-of-type(2) {
    top: 20px;
    left: 30px;
    background-color: white;
}


.c4 div:nth-of-type(3) {
    top: -10px;
    right: 20px;
    background-color: rgb(250, 230, 127);
}

.c4 div:nth-of-type(4) {
    top: 0px;
    right: 30px;
    background-color: white;
}

/** ----------main---------- */

/*
.m1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;

    width: 100%;
}

.m1s1,
.m1s2 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    width: 400px;
    padding: 0 10px;
}

*/

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;

    width: 100%;
}

section section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    padding: 0 10px;
}
article {
    border: 1px solid rgb(185, 27, 3);
    margin-bottom: 50px;

    width: 360px;
}

.ueberschriftCode1 {
    background-color: rgb(247, 141, 178);
    border-bottom: 2.5px solid rgb(185, 27, 3);
}

.ueberschriftCode2 {
    background-color: rgb(246, 199, 215);
    border-bottom: 2.5px solid rgb(185, 27, 3);
    }

.description {
    border-bottom: 1px solid rgb(185, 27, 3);
    padding: 10px;
}


.picture {
    width: 100%;
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.m1s1a1 {
    margin-bottom:70px;
}

.m2s1 article {
    margin-bottom: 90px;
}


.m2s2a2 {
    border: none;
    border-top: 1px dashed black;
    margin-bottom: 0px;
}

.m3s1a1 {
    margin-bottom: 75px;
}

.m4s1 h3 {
    font-size: 2.9rem;
}

.m4s1 h4 {
    margin-bottom: 50px;
}

.m4s1a1 {
    margin-bottom: 50px;
}

.m4s2a1 {
    margin-bottom: 100px;
}

.m4s2a2 .ueberschriftCode1 {
    font-size: 1rem;
}


.m5 h4 {
    margin-bottom: 25px;
}

.m5s2a1 {
    margin-bottom: 65px;
}

.m6s1a2,
.m6s2a2 {
    border: none;
    border-top: 1px dashed black;
}

.m6s1a2 {
    margin-bottom: 20px;
}

.m6s2a2 h3 {
    font-size: 2.7rem;
}

.m6s2a2 {
    margin-bottom: 30px;
}

.m7 {

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
}

.m7s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
}