
@font-face {
    font-family: SourceCode;
    src: url(../font/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../font/Vollkorn-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Vollkorn, sans-serif;
    font-size: 10px;
  }
  

  /** ---- BASIC ---- */

h1 {
    font-family: Vollkorn;
    font-size: 7rem;
}

h2 {
    font-family: SourceCode;
    font-size: 4rem;
}

h3 {
    font-family: Vollkorn;
    font-size: 3.5rem;
}

h4 {
    font-family: Vollkorn;
    font-size: 2rem;
    font-weight: 100;
}

h5 {
    font-family: SourceCode;
    font-size: 2.5rem;
    font-weight: 500;
}

p {
    font-family: Vollkorn;
    font-size: 1.5rem;
}

/** ------Main------ */

